html, body { height: 100%; }


body { margin: 0; padding: 0; background-image: url("src/fondo2.png");  }

nav {
    position: fixed;
    background-color: rgb(170, 197, 245);
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  
article {
    max-width: 80%;
    margin: auto;
  }

li { 
    margin: 20px; 
    padding: 0; 
    }

h3 {
    background-color: rgb(73, 125, 202);
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    display: inline-block;
}

#titulo {
    font-family: fantasy;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#cajas{
    background-color:rgb(162, 175, 202);
    padding: 10px;
    border: rgb(254, 254, 254) solid ;
    margin-top: 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
  }

th { text-align: center;
    border: 2px solid rgb(134, 123, 201);  }

td { text-align: center;
    border: 2px solid rgb(134, 123, 201); }

tr {
    background-color: #c9cbff;
      }


#video1{
    text-align: center;
}

#img1{
    text-align: center;
    margin-top: 15px;

}

#cajas1{
    background-color:  rgb(213, 219, 232);
    padding: 20px;
    border: rgb(254, 254, 254) solid ;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(225, 225, 225);
        
}


@media only screen and (min-width: 400px) {
    body { margin: 0; padding: 0; background-image: url("src/fondo2.png");  }

nav {
    position: fixed;
    background-color: rgb(170, 197, 245);
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  
article {
    max-width: 90%;
    margin: auto;
  }

li { 
    margin: 20px; 
    padding: 0; 
    }

h3 {
    background-color: rgb(73, 125, 202);
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    display: inline-block;
}

#titulo {
    font-family: fantasy;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#cajas{
    background-color:rgb(162, 175, 202);
    padding: 50px;
    border: rgb(254, 254, 254) solid ;
    margin-top: 20px;
}

#cajas1{
    background-color:  rgb(213, 219, 232);
    padding: 30px;
    border: rgb(254, 254, 254) solid ;
    margin-top: 30px;

}


table {
    border-collapse: collapse;
    width: 100%;
  }

th { text-align: center;
    border: 2px solid rgb(134, 123, 201);  }

td { text-align: center;
    border: 2px solid rgb(134, 123, 201); }

tr {
    background-color: #c9cbff;
      }

video{
    width: 400px ;
    height: 400px ;
    text-align: center;

}

img{
    width: 400px ;
    height: 200px ;

}

#img2{
    margin: auto;

}

#img3{
    margin: auto;

}

#img4{
    margin: auto;

}

#wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(179, 192, 197);
        
}




}

